/* schoolHub.CSS 4.10 February 2018 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.schoolHub-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.schoolHub-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.schoolHub-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.schoolHub-table,.schoolHub-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.schoolHub-table-all{border:1px solid #ccc}
.schoolHub-bordered tr,.schoolHub-table-all tr{border-bottom:1px solid #ddd}.schoolHub-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.schoolHub-table-all tr:nth-child(odd){background-color:#fff}.schoolHub-table-all tr:nth-child(even){background-color:#f1f1f1}
.schoolHub-hoverable tbody tr:hover,.schoolHub-ul.schoolHub-hoverable li:hover{background-color:#ccc}.schoolHub-centered tr th,.schoolHub-centered tr td{text-align:center}
.schoolHub-table td,.schoolHub-table th,.schoolHub-table-all td,.schoolHub-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.schoolHub-table th:first-child,.schoolHub-table td:first-child,.schoolHub-table-all th:first-child,.schoolHub-table-all td:first-child{padding-left:16px}
.schoolHub-btn,.schoolHub-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.schoolHub-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.schoolHub-btn,.schoolHub-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.schoolHub-disabled,.schoolHub-btn:disabled,.schoolHub-button:disabled{cursor:not-allowed;opacity:0.3}.schoolHub-disabled *,:disabled *{pointer-events:none}
.schoolHub-btn.schoolHub-disabled:hover,.schoolHub-btn:disabled:hover{box-shadow:none}
.schoolHub-badge,.schoolHub-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.schoolHub-badge{border-radius:50%}
.schoolHub-ul{list-style-type:none;padding:0;margin:0}.schoolHub-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.schoolHub-ul li:last-child{border-bottom:none}
.schoolHub-tooltip,.schoolHub-display-container{position:relative}.schoolHub-tooltip .schoolHub-text{display:none}.schoolHub-tooltip:hover .schoolHub-text{display:inline-block}
.schoolHub-ripple:active{opacity:0.5}.schoolHub-ripple{transition:opacity 0s}
.schoolHub-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.schoolHub-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.schoolHub-dropdown-click,.schoolHub-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.schoolHub-dropdown-hover:hover .schoolHub-dropdown-content{display:block}
.schoolHub-dropdown-hover:first-child,.schoolHub-dropdown-click:hover{background-color:#ccc;color:#000}
.schoolHub-dropdown-hover:hover > .schoolHub-button:first-child,.schoolHub-dropdown-click:hover > .schoolHub-button:first-child{background-color:#ccc;color:#000}
.schoolHub-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.schoolHub-check,.schoolHub-radio{width:24px;height:24px;position:relative;top:6px}
.schoolHub-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.schoolHub-bar-block .schoolHub-dropdown-hover,.schoolHub-bar-block .schoolHub-dropdown-click{width:100%}
.schoolHub-bar-block .schoolHub-dropdown-hover .schoolHub-dropdown-content,.schoolHub-bar-block .schoolHub-dropdown-click .schoolHub-dropdown-content{min-width:100%}
.schoolHub-bar-block .schoolHub-dropdown-hover .schoolHub-button,.schoolHub-bar-block .schoolHub-dropdown-click .schoolHub-button{width:100%;text-align:left;padding:8px 16px}
.schoolHub-main,#main{transition:margin-left .4s}
.schoolHub-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.schoolHub-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.schoolHub-bar{width:100%;overflow:hidden}.schoolHub-center .schoolHub-bar{display:inline-block;width:auto}
.schoolHub-bar .schoolHub-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.schoolHub-bar .schoolHub-dropdown-hover,.schoolHub-bar .schoolHub-dropdown-click{position:static;float:left}
.schoolHub-bar .schoolHub-button{white-space:normal}
.schoolHub-bar-block .schoolHub-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.schoolHub-bar-block.schoolHub-center .schoolHub-bar-item{text-align:center}.schoolHub-block{display:block;width:100%}
.schoolHub-responsive{display:block;overflow-x:auto}
.schoolHub-container:after,.schoolHub-container:before,.schoolHub-panel:after,.schoolHub-panel:before,.schoolHub-row:after,.schoolHub-row:before,.schoolHub-row-padding:after,.schoolHub-row-padding:before,
.schoolHub-cell-row:before,.schoolHub-cell-row:after,.schoolHub-clear:after,.schoolHub-clear:before,.schoolHub-bar:before,.schoolHub-bar:after{content:"";display:table;clear:both}
.schoolHub-col,.schoolHub-half,.schoolHub-third,.schoolHub-twothird,.schoolHub-threequarter,.schoolHub-quarter{float:left;width:100%}
.schoolHub-col.s1{width:8.33333%}.schoolHub-col.s2{width:16.66666%}.schoolHub-col.s3{width:24.99999%}.schoolHub-col.s4{width:33.33333%}
.schoolHub-col.s5{width:41.66666%}.schoolHub-col.s6{width:49.99999%}.schoolHub-col.s7{width:58.33333%}.schoolHub-col.s8{width:66.66666%}
.schoolHub-col.s9{width:74.99999%}.schoolHub-col.s10{width:83.33333%}.schoolHub-col.s11{width:91.66666%}.schoolHub-col.s12{width:99.99999%}
@media (min-width:601px){.schoolHub-col.m1{width:8.33333%}.schoolHub-col.m2{width:16.66666%}.schoolHub-col.m3,.schoolHub-quarter{width:24.99999%}.schoolHub-col.m4,.schoolHub-third{width:33.33333%}
.schoolHub-col.m5{width:41.66666%}.schoolHub-col.m6,.schoolHub-half{width:49.99999%}.schoolHub-col.m7{width:58.33333%}.schoolHub-col.m8,.schoolHub-twothird{width:66.66666%}
.schoolHub-col.m9,.schoolHub-threequarter{width:74.99999%}.schoolHub-col.m10{width:83.33333%}.schoolHub-col.m11{width:91.66666%}.schoolHub-col.m12{width:99.99999%}}
@media (min-width:993px){.schoolHub-col.l1{width:8.33333%}.schoolHub-col.l2{width:16.66666%}.schoolHub-col.l3{width:24.99999%}.schoolHub-col.l4{width:33.33333%}
.schoolHub-col.l5{width:41.66666%}.schoolHub-col.l6{width:49.99999%}.schoolHub-col.l7{width:58.33333%}.schoolHub-col.l8{width:66.66666%}
.schoolHub-col.l9{width:74.99999%}.schoolHub-col.l10{width:83.33333%}.schoolHub-col.l11{width:91.66666%}.schoolHub-col.l12{width:99.99999%}}
.schoolHub-content{max-width:980px;margin:auto}.schoolHub-rest{overflow:hidden}
.schoolHub-cell-row{display:table;width:100%}.schoolHub-cell{display:table-cell}
.schoolHub-cell-top{vertical-align:top}.schoolHub-cell-middle{vertical-align:middle}.schoolHub-cell-bottom{vertical-align:bottom}
.schoolHub-hide{display:none!important}.schoolHub-show-block,.schoolHub-show{display:block!important}.schoolHub-show-inline-block{display:inline-block!important}
@media (max-width:600px){.schoolHub-modal-content{margin:0 10px;width:auto!important}.schoolHub-modal{padding-top:30px}
.schoolHub-dropdown-hover.schoolHub-mobile .schoolHub-dropdown-content,.schoolHub-dropdown-click.schoolHub-mobile .schoolHub-dropdown-content{position:relative}	
.schoolHub-hide-small{display:none!important}.schoolHub-mobile{display:block;width:100%!important}.schoolHub-bar-item.schoolHub-mobile,.schoolHub-dropdown-hover.schoolHub-mobile,.schoolHub-dropdown-click.schoolHub-mobile{text-align:center}
.schoolHub-dropdown-hover.schoolHub-mobile,.schoolHub-dropdown-hover.schoolHub-mobile .schoolHub-btn,.schoolHub-dropdown-hover.schoolHub-mobile .schoolHub-button,.schoolHub-dropdown-click.schoolHub-mobile,.schoolHub-dropdown-click.schoolHub-mobile .schoolHub-btn,.schoolHub-dropdown-click.schoolHub-mobile .schoolHub-button{width:100%}}
@media (max-width:768px){.schoolHub-modal-content{width:500px}.schoolHub-modal{padding-top:50px}}
@media (min-width:993px){.schoolHub-modal-content{width:900px}.schoolHub-hide-large{display:none!important}.schoolHub-sidebar.schoolHub-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.schoolHub-hide-medium{display:none!important}}
@media (max-width:992px){.schoolHub-sidebar.schoolHub-collapse{display:none}.schoolHub-main{margin-left:0!important;margin-right:0!important}}
.schoolHub-top,.schoolHub-bottom{position:fixed;width:100%;z-index:1}.schoolHub-top{top:0}.schoolHub-bottom{bottom:0}
.schoolHub-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.schoolHub-display-topleft{position:absolute;left:0;top:0}.schoolHub-display-topright{position:absolute;right:0;top:0}
.schoolHub-display-bottomleft{position:absolute;left:0;bottom:0}.schoolHub-display-bottomright{position:absolute;right:0;bottom:0}
.schoolHub-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.schoolHub-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.schoolHub-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.schoolHub-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.schoolHub-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.schoolHub-display-container:hover .schoolHub-display-hover{display:block}.schoolHub-display-container:hover span.schoolHub-display-hover{display:inline-block}.schoolHub-display-hover{display:none}
.schoolHub-display-position{position:absolute}
.schoolHub-circle{border-radius:50%}
.schoolHub-round-small{border-radius:2px}.schoolHub-round,.schoolHub-round-medium{border-radius:4px}.schoolHub-round-large{border-radius:8px}.schoolHub-round-xlarge{border-radius:16px}.schoolHub-round-xxlarge{border-radius:32px}
.schoolHub-row-padding,.schoolHub-row-padding>.schoolHub-half,.schoolHub-row-padding>.schoolHub-third,.schoolHub-row-padding>.schoolHub-twothird,.schoolHub-row-padding>.schoolHub-threequarter,.schoolHub-row-padding>.schoolHub-quarter,.schoolHub-row-padding>.schoolHub-col{padding:0 8px}
.schoolHub-container,.schoolHub-panel{padding:0.01em 16px}.schoolHub-panel{margin-top:16px;margin-bottom:16px}
.schoolHub-code,.schoolHub-codespan{font-family:Consolas,"courier new";font-size:16px}
.schoolHub-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.schoolHub-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.schoolHub-card,.schoolHub-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.schoolHub-card-4,.schoolHub-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.schoolHub-spin{animation:schoolHub-spin 2s infinite linear}@keyframes schoolHub-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.schoolHub-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.schoolHub-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.schoolHub-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.schoolHub-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.schoolHub-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.schoolHub-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.schoolHub-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.schoolHub-animate-input{transition:width 0.4s ease-in-out}.schoolHub-animate-input:focus{width:100%!important}
.schoolHub-opacity,.schoolHub-hover-opacity:hover{opacity:0.60}.schoolHub-opacity-off,.schoolHub-hover-opacity-off:hover{opacity:1}
.schoolHub-opacity-max{opacity:0.25}.schoolHub-opacity-min{opacity:0.75}
.schoolHub-greyscale-max,.schoolHub-grayscale-max,.schoolHub-hover-greyscale:hover,.schoolHub-hover-grayscale:hover{filter:grayscale(100%)}
.schoolHub-greyscale,.schoolHub-grayscale{filter:grayscale(75%)}.schoolHub-greyscale-min,.schoolHub-grayscale-min{filter:grayscale(50%)}
.schoolHub-sepia{filter:sepia(75%)}.schoolHub-sepia-max,.schoolHub-hover-sepia:hover{filter:sepia(100%)}.schoolHub-sepia-min{filter:sepia(50%)}
.schoolHub-tiny{font-size:10px!important}.schoolHub-small{font-size:12px!important}.schoolHub-medium{font-size:15px!important}.schoolHub-large{font-size:18px!important}
.schoolHub-xlarge{font-size:24px!important}.schoolHub-xxlarge{font-size:36px!important}.schoolHub-xxxlarge{font-size:48px!important}.schoolHub-jumbo{font-size:64px!important}
.schoolHub-left-align{text-align:left!important}.schoolHub-right-align{text-align:right!important}.schoolHub-justify{text-align:justify!important}.schoolHub-center{text-align:center!important}
.schoolHub-border-0{border:0!important}.schoolHub-border{border:1px solid #ccc!important}
.schoolHub-border-top{border-top:1px solid #ccc!important}.schoolHub-border-bottom{border-bottom:1px solid #ccc!important}
.schoolHub-border-left{border-left:1px solid #ccc!important}.schoolHub-border-right{border-right:1px solid #ccc!important}
.schoolHub-topbar{border-top:6px solid #ccc!important}.schoolHub-bottombar{border-bottom:6px solid #ccc!important}
.schoolHub-leftbar{border-left:6px solid #ccc!important}.schoolHub-rightbar{border-right:6px solid #ccc!important}
.schoolHub-section,.schoolHub-code{margin-top:16px!important;margin-bottom:16px!important}
.schoolHub-margin{margin:16px!important}.schoolHub-margin-top{margin-top:16px!important}.schoolHub-margin-bottom{margin-bottom:16px!important}
.schoolHub-margin-left{margin-left:16px!important}.schoolHub-margin-right{margin-right:16px!important}
.schoolHub-padding-small{padding:4px 8px!important}.schoolHub-padding{padding:8px 16px!important}.schoolHub-padding-large{padding:12px 24px!important}
.schoolHub-padding-16{padding-top:16px!important;padding-bottom:16px!important}.schoolHub-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.schoolHub-padding-32{padding-top:32px!important;padding-bottom:32px!important}.schoolHub-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.schoolHub-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.schoolHub-left{float:left!important}.schoolHub-right{float:right!important}
.schoolHub-button:hover{color:#000!important;background-color:#ccc!important}
.schoolHub-transparent,.schoolHub-hover-none:hover{background-color:transparent!important}
.schoolHub-hover-none:hover{box-shadow:none!important}
/* Colors */
.schoolHub-amber,.schoolHub-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.schoolHub-aqua,.schoolHub-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.schoolHub-blue,.schoolHub-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.schoolHub-light-blue,.schoolHub-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.schoolHub-brown,.schoolHub-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.schoolHub-cyan,.schoolHub-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.schoolHub-blue-grey,.schoolHub-hover-blue-grey:hover,.schoolHub-blue-gray,.schoolHub-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.schoolHub-green,.schoolHub-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.schoolHub-light-green,.schoolHub-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.schoolHub-indigo,.schoolHub-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.schoolHub-khaki,.schoolHub-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.schoolHub-lime,.schoolHub-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.schoolHub-orange,.schoolHub-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.schoolHub-deep-orange,.schoolHub-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.schoolHub-pink,.schoolHub-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.schoolHub-purple,.schoolHub-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.schoolHub-deep-purple,.schoolHub-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.schoolHub-red,.schoolHub-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.schoolHub-sand,.schoolHub-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.schoolHub-teal,.schoolHub-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.schoolHub-yellow,.schoolHub-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.schoolHub-white,.schoolHub-hover-white:hover{color:#000!important;background-color:#fff!important}
.schoolHub-black,.schoolHub-hover-black:hover{color:#fff!important;background-color:#000!important}
.schoolHub-grey,.schoolHub-hover-grey:hover,.schoolHub-gray,.schoolHub-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.schoolHub-light-grey,.schoolHub-hover-light-grey:hover,.schoolHub-light-gray,.schoolHub-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.schoolHub-dark-grey,.schoolHub-hover-dark-grey:hover,.schoolHub-dark-gray,.schoolHub-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.schoolHub-pale-red,.schoolHub-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.schoolHub-pale-green,.schoolHub-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.schoolHub-pale-yellow,.schoolHub-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.schoolHub-pale-blue,.schoolHub-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.schoolHub-text-amber,.schoolHub-hover-text-amber:hover{color:#ffc107!important}
.schoolHub-text-aqua,.schoolHub-hover-text-aqua:hover{color:#00ffff!important}
.schoolHub-text-blue,.schoolHub-hover-text-blue:hover{color:#2196F3!important}
.schoolHub-text-light-blue,.schoolHub-hover-text-light-blue:hover{color:#87CEEB!important}
.schoolHub-text-brown,.schoolHub-hover-text-brown:hover{color:#795548!important}
.schoolHub-text-cyan,.schoolHub-hover-text-cyan:hover{color:#00bcd4!important}
.schoolHub-text-blue-grey,.schoolHub-hover-text-blue-grey:hover,.schoolHub-text-blue-gray,.schoolHub-hover-text-blue-gray:hover{color:#607d8b!important}
.schoolHub-text-green,.schoolHub-hover-text-green:hover{color:#4CAF50!important}
.schoolHub-text-light-green,.schoolHub-hover-text-light-green:hover{color:#8bc34a!important}
.schoolHub-text-indigo,.schoolHub-hover-text-indigo:hover{color:#3f51b5!important}
.schoolHub-text-khaki,.schoolHub-hover-text-khaki:hover{color:#b4aa50!important}
.schoolHub-text-lime,.schoolHub-hover-text-lime:hover{color:#cddc39!important}
.schoolHub-text-orange,.schoolHub-hover-text-orange:hover{color:#ff9800!important}
.schoolHub-text-deep-orange,.schoolHub-hover-text-deep-orange:hover{color:#ff5722!important}
.schoolHub-text-pink,.schoolHub-hover-text-pink:hover{color:#e91e63!important}
.schoolHub-text-purple,.schoolHub-hover-text-purple:hover{color:#9c27b0!important}
.schoolHub-text-deep-purple,.schoolHub-hover-text-deep-purple:hover{color:#673ab7!important}
.schoolHub-text-red,.schoolHub-hover-text-red:hover{color:#f44336!important}
.schoolHub-text-sand,.schoolHub-hover-text-sand:hover{color:#fdf5e6!important}
.schoolHub-text-teal,.schoolHub-hover-text-teal:hover{color:#009688!important}
.schoolHub-text-yellow,.schoolHub-hover-text-yellow:hover{color:#d2be0e!important}
.schoolHub-text-white,.schoolHub-hover-text-white:hover{color:#fff!important}
.schoolHub-text-black,.schoolHub-hover-text-black:hover{color:#000!important}
.schoolHub-text-grey,.schoolHub-hover-text-grey:hover,.schoolHub-text-gray,.schoolHub-hover-text-gray:hover{color:#757575!important}
.schoolHub-text-light-grey,.schoolHub-hover-text-light-grey:hover,.schoolHub-text-light-gray,.schoolHub-hover-text-light-gray:hover{color:#f1f1f1!important}
.schoolHub-text-dark-grey,.schoolHub-hover-text-dark-grey:hover,.schoolHub-text-dark-gray,.schoolHub-hover-text-dark-gray:hover{color:#3a3a3a!important}
.schoolHub-border-amber,.schoolHub-hover-border-amber:hover{border-color:#ffc107!important}
.schoolHub-border-aqua,.schoolHub-hover-border-aqua:hover{border-color:#00ffff!important}
.schoolHub-border-blue,.schoolHub-hover-border-blue:hover{border-color:#2196F3!important}
.schoolHub-border-light-blue,.schoolHub-hover-border-light-blue:hover{border-color:#87CEEB!important}
.schoolHub-border-brown,.schoolHub-hover-border-brown:hover{border-color:#795548!important}
.schoolHub-border-cyan,.schoolHub-hover-border-cyan:hover{border-color:#00bcd4!important}
.schoolHub-border-blue-grey,.schoolHub-hover-border-blue-grey:hover,.schoolHub-border-blue-gray,.schoolHub-hover-border-blue-gray:hover{border-color:#607d8b!important}
.schoolHub-border-green,.schoolHub-hover-border-green:hover{border-color:#4CAF50!important}
.schoolHub-border-light-green,.schoolHub-hover-border-light-green:hover{border-color:#8bc34a!important}
.schoolHub-border-indigo,.schoolHub-hover-border-indigo:hover{border-color:#3f51b5!important}
.schoolHub-border-khaki,.schoolHub-hover-border-khaki:hover{border-color:#f0e68c!important}
.schoolHub-border-lime,.schoolHub-hover-border-lime:hover{border-color:#cddc39!important}
.schoolHub-border-orange,.schoolHub-hover-border-orange:hover{border-color:#ff9800!important}
.schoolHub-border-deep-orange,.schoolHub-hover-border-deep-orange:hover{border-color:#ff5722!important}
.schoolHub-border-pink,.schoolHub-hover-border-pink:hover{border-color:#e91e63!important}
.schoolHub-border-purple,.schoolHub-hover-border-purple:hover{border-color:#9c27b0!important}
.schoolHub-border-deep-purple,.schoolHub-hover-border-deep-purple:hover{border-color:#673ab7!important}
.schoolHub-border-red,.schoolHub-hover-border-red:hover{border-color:#f44336!important}
.schoolHub-border-sand,.schoolHub-hover-border-sand:hover{border-color:#fdf5e6!important}
.schoolHub-border-teal,.schoolHub-hover-border-teal:hover{border-color:#009688!important}
.schoolHub-border-yellow,.schoolHub-hover-border-yellow:hover{border-color:#ffeb3b!important}
.schoolHub-border-white,.schoolHub-hover-border-white:hover{border-color:#fff!important}
.schoolHub-border-black,.schoolHub-hover-border-black:hover{border-color:#000!important}
.schoolHub-border-grey,.schoolHub-hover-border-grey:hover,.schoolHub-border-gray,.schoolHub-hover-border-gray:hover{border-color:#9e9e9e!important}
.schoolHub-border-light-grey,.schoolHub-hover-border-light-grey:hover,.schoolHub-border-light-gray,.schoolHub-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.schoolHub-border-dark-grey,.schoolHub-hover-border-dark-grey:hover,.schoolHub-border-dark-gray,.schoolHub-hover-border-dark-gray:hover{border-color:#616161!important}
.schoolHub-border-pale-red,.schoolHub-hover-border-pale-red:hover{border-color:#ffe7e7!important}.schoolHub-border-pale-green,.schoolHub-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.schoolHub-border-pale-yellow,.schoolHub-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.schoolHub-border-pale-blue,.schoolHub-hover-border-pale-blue:hover{border-color:#e7ffff!important}
